:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    position: center;
}

    *:focus {
        outline: none;
    }

/* NavBar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.nav-wrapper {
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img {
    height: 100%;
    margin-top: 5px;
}

.search-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

    .search-box::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }

.nav-items {
    height: 22px;
    position: relative;
}

.icon {
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.user-profile {
    width: 22px;
    border-radius: 50%;
    background-image: url(img/profile-pic.png);
    background-size: cover;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}


img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

    .btn:focus {
        outline: 0.5rem auto #4d90fe;
    }

.visually-hidden {
    position: center;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
    padding: 5rem 0;
}

    .profile::after {
        content: "";
        display: block;
        clear: both;
    }

.profile-image {
    float: left;
    width: calc(22.222% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

    .profile-image img {
        border-radius: 50%;
    }

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}


.profile-stats {
    margin-top: 2.3rem;
}

    .profile-stats li {
        display: inline-block;
        font-size: 1.6rem;
        line-height: 1.5;
        margin-right: 4rem;
        cursor: pointer;
    }

        .profile-stats li:last-of-type {
            margin-right: 0;
        }

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}


body {
    width: 100%;
    height: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    background: #ebe7e7;
}

.container2 {
    width: 658px;
    background: white;
    overflow: hidden;
    border: none;
}

.top_bar {
    width: 100%;
    height: 75px;
    padding: 25px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_img {
    width: 100%;
    height: 100%;
    position: relative;
}

    .profile_img img {
        position: absolute;
        top: -5px;
        left: -5px;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        display: inline-block;
        object-fit: cover;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .profile_img span {
        margin-left: 50px;
    }

.main_img {
    width: 600px;
    height: 600px;
    margin-bottom: 15px;
}

    .main_img img {
        width: 100%;
        height: 100%;
    }

.footer {
    padding-left: 16px;
    padding-right: 16px;
}

.iconsss {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

    .iconsss .fa {
        font-size: 24px;
        cursor: pointer;
    }

    .iconsss .fa {
        margin: 0px 3px;
        /color: #010101;
        /
    }

.left_side {
    margin: 0px 3px;
}

.likeCount p {
    color: #010101;
    font-size: 14px;
}

.content p {
    padding: 5px 0;
}

.comments p {
    font-size: 14px;
    color: #dbdbdb;
    padding: 5px 0;
    padding-bottom: 10px;
}

.comments_box {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconah {
    padding: 8px 16px 8px 0;
    font-size: 24px;
}

.input_field {
    width: 100%;
}

    .input_field input {
        width: 100%;
        padding: 10px;
        border: none !important;
        outline: none;
    }

.btn button {
    background: transparent;
    padding: 10px;
    outline: none;
    border: none;
    color: #207be2;
    font-weight: 600;
    cursor: pointer;
}
