* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eee;
}

#wrapper {
    width: 520px;
    height: 50%;
    overflow: hidden;
    border: 0px solid #000;
    margin: 50px auto;
    padding: 10px;
}

.main-content {
    width: 300px;
    height: 40%;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
}

.header {
    border: 0px solid #000;
    margin-bottom: 5px;
}

    .header img {
        height: 50px;
        width: 175px;
        margin: auto;
        position: center;
        
    }

.input-1,
.input-2 {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    
    box-sizing: border-box;
    border-radius: 3px;
}


.btn {
    width: 98%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 5px 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

.sub-content { 
    border: 1px solid #dbdbdb;
    background-color: white;
    width: 300px;
    height: 70px;
    margin-top: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 20px 50px;
       
}

.s-part {
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    word-spacing: -3px;
    letter-spacing: -2px;
    font-weight: normal;
}

    .s-part a {
        text-decoration: none;
        cursor: pointer;
        color: #3897f0;
        font-family: 'Overpass Mono', monospace;
        word-spacing: -3px;
        letter-spacing: -2px;
        font-weight: normal;
    }

